*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
vendor/assets/stylesheets/*
vendor/assets/javascripts/*
!vendor/assets/stylesheets/.keep
!vendor/assets/javascripts/.keep
