[submodule "submodules/frob-core"]
	path = submodules/frob-core
	url = git@github.com:wearefine/frob-core.git
[submodule "submodules/fryr"]
	path = submodules/fryr
	url = git@github.com:wearefine/fryr.git
[submodule "submodules/fine-forever"]
	path = submodules/fine-forever
	url = git@github.com:wearefine/fine-forever.git
[submodule "submodules/slick"]
	path = submodules/slick
	url = git@github.com:kenwheeler/slick.git
[submodule "submodules/js-cookie"]
	path = submodules/js-cookie
	url = git@github.com:js-cookie/js-cookie.git
[submodule "submodules/picturefill"]
	path = submodules/picturefill
	url = git@github.com:scottjehl/picturefill.git
[submodule "submodules/svg4everybody"]
	path = submodules/svg4everybody
	url = git@github.com:jonathantneal/svg4everybody.git
[submodule "submodules/normalize"]
	path = submodules/normalize
	url = git@github.com:necolas/normalize.css.git
[submodule "submodules/lazysizes"]
	path = submodules/lazysizes
	url = git@github.com:aFarkas/lazysizes.git
[submodule "submodules/magnific"]
	path = submodules/magnific
	url = git@github.com:dimsemenov/Magnific-Popup.git
